In [143]:
import numpy as np
import pandas as pd

In [144]:
data = pd.read_csv('housing.csv',encoding='latin-1',)
data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
19101,-122.62,38.25,20.0,1888.0,411.0,826.0,396.0,2.8750,189100.0,<1H OCEAN
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
4215,-118.27,34.13,46.0,1613.0,396.0,966.0,416.0,2.9392,230300.0,<1H OCEAN
6819,-118.09,34.09,40.0,855.0,208.0,745.0,222.0,3.0125,224000.0,<1H OCEAN
1504,-122.03,37.94,21.0,5541.0,776.0,2214.0,737.0,5.5777,279300.0,NEAR BAY

In [145]:
data.sample(0)

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [146]:
ages = data['housing_median_age']

In [147]:
bins = [0 , 5 , 20 , 30 , 40 , 90 ]

In [148]:
cats = pd.cut(ages,bins)
cats

0        (40, 90]
1        (20, 30]
2        (40, 90]
3        (40, 90]
4        (40, 90]
           ...
20635    (20, 30]
20636     (5, 20]
20637     (5, 20]
20638     (5, 20]
20639     (5, 20]
Name: housing_median_age, Length: 20640, dtype: category
Categories (5, interval[int64, right]): [(0, 5] < (5, 20] < (20, 30] < (30, 40] < (40, 90]]

In [149]:
# cats.codes

In [150]:
# cats.categories

In [151]:
pd.value_counts(cats)

/tmp/ipykernel_4018/1485279302.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

housing_median_age
(5, 20]     5734
(30, 40]    5617
(20, 30]    4852
(40, 90]    3878
(0, 5]       559
Name: count, dtype: int64

In [152]:
groupName = ['Newconstruction' , 'Relatively new' , 'average' , 'old' , 'very old' ]

In [153]:
pd.cut(ages, bins , labels=groupName)

0              very old
1               average
2              very old
3              very old
4              very old
              ...
20635           average
20636    Relatively new
20637    Relatively new
20638    Relatively new
20639    Relatively new
Name: housing_median_age, Length: 20640, dtype: category
Categories (5, object): ['Newconstruction' < 'Relatively new' < 'average' < 'old' < 'very old']

In [154]:
pd.value_counts(cats)

/tmp/ipykernel_4018/1485279302.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

housing_median_age
(5, 20]     5734
(30, 40]    5617
(20, 30]    4852
(40, 90]    3878
(0, 5]       559
Name: count, dtype: int64