In [120]:
import numpy as np
import pandas as pd

In [121]:
data = pd.read_csv('housing.csv',encoding='latin-1',)
data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8553,-118.30,33.74,28.0,1065.0,215.0,887.0,217.0,3.9375,270500.0,NEAR OCEAN
14079,-117.11,32.77,50.0,1729.0,355.0,617.0,337.0,3.6705,167000.0,NEAR OCEAN
20535,-121.74,38.55,34.0,2299.0,579.0,1300.0,536.0,1.6435,148500.0,INLAND
15032,-116.99,32.79,33.0,2420.0,393.0,1003.0,397.0,4.0658,165100.0,<1H OCEAN
15470,-117.20,33.16,13.0,4503.0,1137.0,3094.0,1091.0,2.3159,91600.0,<1H OCEAN

In [122]:
data.sample(0)

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [123]:
ages = data['housing_median_age']

In [124]:
bins = [0 , 5 , 20 , 30 , 40 , 90 ]

In [125]:
cats = pd.cut(ages,bins)
cats

0        (40, 90]
1        (20, 30]
2        (40, 90]
3        (40, 90]
4        (40, 90]
           ...
20635    (20, 30]
20636     (5, 20]
20637     (5, 20]
20638     (5, 20]
20639     (5, 20]
Name: housing_median_age, Length: 20640, dtype: category
Categories (5, interval[int64, right]): [(0, 5] < (5, 20] < (20, 30] < (30, 40] < (40, 90]]

In [126]:
# cats.codes

In [127]:
# cats.categories

In [128]:
pd.value_counts(cats)

/tmp/ipykernel_4018/1485279302.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

housing_median_age
(5, 20]     5734
(30, 40]    5617
(20, 30]    4852
(40, 90]    3878
(0, 5]       559
Name: count, dtype: int64

In [129]:
groupName = ['Newconstruction' , 'Relatively new' , 'average' ,'a little old'  , 'old' , 'very old' ]

In [130]:
pd.cut(ages, bins , labels=groupName)

ValueError: Bin labels must be one fewer than the number of bin edges

In [ ]:
pd.value_counts(cats)

/tmp/ipykernel_4018/1485279302.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

housing_median_age
(5, 20]     5734
(30, 40]    5617
(20, 30]    4852
(40, 90]    3878
(0, 5]       559
Name: count, dtype: int64