In [62]:
import numpy as np
import pandas as pd

In [63]:
data = pd.read_csv('housing.csv',encoding='latin-1',)
data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
18641,-121.99,36.99,16.0,1592.0,369.0,1039.0,351.0,3.6364,207000.0,NEAR OCEAN
1767,-122.34,37.95,44.0,1788.0,368.0,933.0,329.0,2.8750,133400.0,NEAR BAY
943,-122.01,37.53,19.0,4572.0,712.0,2346.0,709.0,6.0667,245700.0,NEAR BAY
2990,-118.99,35.32,35.0,1576.0,405.0,870.0,282.0,1.6575,59500.0,INLAND
1207,-121.75,39.40,29.0,1687.0,327.0,864.0,334.0,2.4943,81900.0,INLAND

In [64]:
data.sample(0)

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [65]:
ages = data['housing_median_age']

In [66]:
bins = [0 , 5 , 20 , 30 , 40 , 90 ]

In [67]:
cats = pd.cut(ages,bins)
cats

0        (40, 90]
1        (20, 30]
2        (40, 90]
3        (40, 90]
4        (40, 90]
           ...
20635    (20, 30]
20636     (5, 20]
20637     (5, 20]
20638     (5, 20]
20639     (5, 20]
Name: housing_median_age, Length: 20640, dtype: category
Categories (5, interval[int64, right]): [(0, 5] < (5, 20] < (20, 30] < (30, 40] < (40, 90]]

In [72]:
cats.codes

AttributeError: 'Series' object has no attribute 'codes'

In [73]:
cats.categories

AttributeError: 'Series' object has no attribute 'categories'

In [74]:
pd.value_counts(cats)

/tmp/ipykernel_4018/1485279302.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

housing_median_age
(5, 20]     5734
(30, 40]    5617
(20, 30]    4852
(40, 90]    3878
(0, 5]       559
Name: count, dtype: int64

In [75]:
groupName = ['New maker' , 'New construction' , 'average' ,'a little old'  , 'old' , 'very old' ]

In [76]:
pd.cut(ages, bins , labels=groupName)

ValueError: Bin labels must be one fewer than the number of bin edges

In [77]:
pd.value_counts(cats)

/tmp/ipykernel_4018/1485279302.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

housing_median_age
(5, 20]     5734
(30, 40]    5617
(20, 30]    4852
(40, 90]    3878
(0, 5]       559
Name: count, dtype: int64