In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [13]:
nnames = ['movies_id' , 'title' , 'genres']
movies = pd.read_table('dataMovie.csv' , sep='::' , header=None , names=nnames)
movies

                                               movies_id  title  genres
0      adult,belongs_to_collection,budget,genres,home...    NaN     NaN
1      False,"{'id': 10194, 'name': 'Toy Story Collec...    NaN     NaN
2      False,,65000000,"[{'id': 12, 'name': 'Adventur...    NaN     NaN
3      False,"{'id': 119050, 'name': 'Grumpy Old Men ...    NaN     NaN
4      False,,16000000,"[{'id': 35, 'name': 'Comedy'}...    NaN     NaN
...                                                  ...    ...     ...
45568  False,,0,"[{'id': 18, 'name': 'Drama'}, {'id':...    NaN     NaN
45569  False,,0,"[{'id': 18, 'name': 'Drama'}]",,1111...    NaN     NaN
45570  False,,0,"[{'id': 28, 'name': 'Action'}, {'id'...    NaN     NaN
45571  False,,0,[],,227506,tt0008536,en,Satana likuyu...    NaN     NaN
45572  False,,0,[],,461257,tt6980792,en,Queerama,"50 ...    NaN     NaN

[45573 rows x 3 columns]

In [14]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
    genres = pd.unique(all_genres)
# all_genres
genres

AttributeError: 'float' object has no attribute 'split'

###### adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count

In [9]:
# movies = pd.read_csv('dataMovie.csv',encoding='latin-1',)
# movies.sample(5)

In [ ]:
# names = ['movies id' , 'title' , 'genres']

In [11]:
zeros_matrix = np.zeros((len(movies),len(genres)))

NameError: name 'genres' is not defined

In [12]:
dummies = pd.DataFrame(zeros_matrix,columns=genres)
dummies

NameError: name 'zeros_matrix' is not defined

In [8]:
gen = movies.genres[0]
gen

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [11]:
dummies.columns.get_indexer(gen.split(''))

NameError: name 'dummies' is not defined

In [10]:
for i,gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.splt('|'))
    dummies.iloc[i,indices]=3

dummies

NameError: name 'dummies' is not defined

In [ ]:
movies_windic = movies.join(dummies.add add_prefix('Genre'))
movies_windic.iloc[0]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (142517458.py, line 1)

In [ ]:
val = 'a,b, guido'
val.split(',')

['a', 'b', ' guido']

In [ ]:
pices = [x.strip() for x in val.split(',')]
pices

['a', 'b', 'guido']

In [ ]:
import re 
text = 'for bar \t baz \t qus'
re.split('\s+' , text)

['for', 'bar', 'baz', 'qus']

In [ ]:
regex = re.compile('\s+')
regex.split(text)

['for', 'bar', 'baz', 'qus']

In [ ]:
regex.findall(text)

[' ', ' \t ', ' \t ']

In [ ]:
import re

In [ ]:
text = """" Dave dave@google.com 
stive steve@gmail.com
Rob rob@gmail.com
Danial danial@gmail.com
Morteza morteza@gmail.com
"""

pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

regex = re.compile(pattern,flags=re.IGNORECASE)

In [ ]:
regex.findall(text)

['dave@google.com',
 'steve@gmail.com',
 'rob@gmail.com',
 'danial@gmail.com',
 'morteza@gmail.com']

In [ ]:
m = regex.search(text)
m

In [ ]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

regex = re.compile(pattern,flags=re.IGNORECASE)

In [ ]:
m = regex.match('danial.dl01programming@gmail.com')
m.groups()

('danial.dl01programming', 'gmail', 'com')

In [ ]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('danial', 'gmail', 'com'),
 ('morteza', 'gmail', 'com')]

In [ ]:
data = {'David' : 'david@google.com' , 
        'Steve' : 'steve@gmail.com' , 
        'Rob' : 'rob@gmail.com' , 
        'Wes' : np.nan}

In [ ]:
data = pd.Series(data)
data

David    david@google.com
Steve     steve@gmail.com
Rob         rob@gmail.com
Wes                   NaN
dtype: object

In [ ]:
data.str.contains('david')

David     True
Steve    False
Rob      False
Wes        NaN
dtype: object

#### join,combine

In [ ]:
data = pd.Series(np.random.randn(9) , 
          index=[['a' , 'a' , 'a' , 'b' , 'b' , 'c' , 'c' , 'd' , 'd'],
                 [1,2,3,1,3,1,2,2,3]])
data

a  1    0.427527
   2    0.519535
   3    0.394642
b  1   -0.610541
   3   -1.292483
c  1   -0.276031
   2   -0.475126
d  2   -1.731384
   3   -0.982093
dtype: float64

In [ ]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [ ]:
data.values

array([ 0.42752651,  0.51953539,  0.39464197, -0.61054129, -1.29248267,
       -0.27603116, -0.47512618, -1.73138418, -0.9820929 ])

###### combining and merging dataset